In [36]:
## TASK1-PyBank(Required)

In [ ]:
Your task is to create a Python script that analyses the records to calculate each of the following:

    The total number of months included in the dataset

    The net total amount of Profit/Losses over the entire period

    The average of the changes in Profit/Losses over the entire period

    The greatest increase in profits (date and amount) over the entire period

    The greatest decrease in losses (date and amount) over the entire period
    
    Your resulting analysis should look similar to the following:
    
    Financial Analysis
  ----------------------------
  Total Months: 86
  Total: $38382578
  Average  Change: $-2315.12
  Greatest Increase in Profits: Feb-2012 ($1926159)
  Greatest Decrease in Profits: Sep-2013 ($-2196167)

In [54]:
import pandas as pd
df = pd.read_csv(r'C:\Users\gokek\OneDrive\Documents\GitHub\Challenge-2\budget_data.csv')
print (df)

      Date  Profit/Losses
0   Jan-10         867884
1   Feb-10         984655
2   Mar-10         322013
3   Apr-10         -69417
4   May-10         310503
..     ...            ...
81  Oct-16         102685
82  Nov-16         795914
83  Dec-16          60988
84  Jan-17         138230
85  Feb-17         671099

[86 rows x 2 columns]

In [55]:
df . head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [57]:
df . tail()

      Date  Profit/Losses
81  Oct-16         102685
82  Nov-16         795914
83  Dec-16          60988
84  Jan-17         138230
85  Feb-17         671099

In [64]:
## The total number of months included in the dataset
numMonths = df['Date'].count()
print (numMonths)

86

In [165]:
## The net total amount of Profit/Losses over the entire period
profit = df['Profit/Losses'].sum()
print(f'${"{:,.2f}".format(profit)}')

$38,382,578.00

In [150]:
#create a change column with the difference
df['change']=df['Profit/Losses'].diff()

In [151]:
df.head()

     Date  Profit/Losses    change
0  Jan-10         867884       NaN
1  Feb-10         984655  116771.0
2  Mar-10         322013 -662642.0
3  Apr-10         -69417 -391430.0
4  May-10         310503  379920.0

In [169]:
## The average of the changes in Profit/Losses over the entire period
avgChange = df['change'].mean()
print(f'${"{:,.2f}".format(round(avgChange,2))}')

$-2,315.12

In [170]:
maxChange = df['change'].max()
minChange = df['change'].min()

print(f'${"{:,.2f}".format(maxChange)}')
print(f'${"{:,.2f}".format(minChange)}')

$1,926,159.00
$-2,196,167.00

In [186]:
maxDate = df['Date'].loc[df['change'] == maxChange].values[0]
minDate = df['Date'].loc[df['change'] == minChange].values[0]

print(f'Greatest Increase in Profits: {maxDate} (${"{:,.2f}".format(maxChange)})')
print(f'Greatest Decrease in Profits: {minDate} (${"{:,.2f}".format(minChange)})')

Greatest Increase in Profits: Feb-12 $1,926,159.00
Greatest Decrease in Profits: Sep-13 $-2,196,167.00

In [189]:
f = open('results.txt','w+')

f.write(f"Financial Analysis\n----------------------------------\n")
f.write(f"Your profit is: ${'{:,.2f}'.format(profit)}\n")
f.write(f"Total Months {numMonths}\n")
f.write(f"Average  Change: ${'{:,.2f}'.format(round(avgChange,2))}\n")
f.write(f'Greatest Increase in Profits: {maxDate} (${"{:,.2f}".format(maxChange)})')
f.write(f'Greatest Decrease in Profits: {minDate} (${"{:,.2f}".format(minChange)})')

print(f"\nFinancial Analysis\n----------------------------------\n")
print(f"Your profit is: ${'{:,.2f}'.format(profit)}")
print(f"Total Months {numMonths}")
print(f"Average  Change: ${'{:,.2f}'.format(round(avgChange,2))}")
print(f'Greatest Increase in Profits: {maxDate} (${"{:,.2f}".format(maxChange)})')
print(f'Greatest Decrease in Profits: {minDate} (${"{:,.2f}".format(minChange)})')




f.close()

Financial Analysis
----------------------------------

Your profit is: $38,382,578.00
Total Months 86
Average  Change: $-2,315.12
Greatest Increase in Profits: Feb-12 ($1,926,159.00)
Greatest Decrease in Profits: Sep-13 ($-2,196,167.00)